.container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  max-height: 60rem;
  width: 90rem;
  overflow-x: auto;
  overflow: auto;
  border-radius: 10px;
  /* 
  box-shadow: 0 1rem 2rem rgb(191, 232, 236); */
  box-shadow: 0 1rem 2rem rgb(206, 234, 255);
}

.spinner,
.error {
  width: 89rem;
  height: 10rem;
  text-align: center;
}

.error {
  font-size: 2rem;
  margin-top: 2rem;
}

.no-order {
  width: 89rem;
  height: 89rem;
  text-align: center;
}

.empty {
  margin-top: 24.5rem;
  margin-bottom: 0.8rem;
  font-size: 2.6rem;
}

.add-customer {
  font-size: 2rem;
  color: #25cbd3;
}
