.container {
  background-color: #fff;
  /* box-shadow: 0 1rem 2rem rgb(196, 230, 234); */
  /* box-shadow: 0 1rem 2rem rgb(206, 234, 255); */
  box-shadow: 0 0.5rem 1rem rgb(206, 234, 255);
  display: inline-block;
  height: 18rem;
  width: 33rem;
  padding-left: 2rem;
  border-radius: 10px;
}

.revenue-text {
  font-size: 2rem;
  margin-bottom: 3.6rem;
  padding-top: 1rem;
}

.numbers {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.revenue {
  background-color: #3599e3;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.6rem 1rem;
  width: 6rem;
  border-radius: 6px;
}

.percent-change {
  background-color: #f03e3e;
}

.percent {
  display: flex;
  gap: 5rem;
}

@media (max-width: 88em) {
  .container {
    width: 40rem;
  }
}

@media (max-width: 47em) {
  .container {
    width: 60rem;
  }
}

@media (max-width: 42em) {
  .container {
    width: 96%;
    margin-left: 0.3rem;
  }
}
