.container {
  background-color: #3599e3;
  color: #ebf5fc;
  padding: 2rem;
  height: 20rem;
  width: 34rem;
  box-shadow: 0 0.5rem 1rem rgb(206, 234, 255);
  border-radius: 10px;
  font-size: 1.6rem;
  margin-left: -5rem;
}
.sales {
  font-size: 2.4rem;
}

.month {
  margin-left: 0.6rem;
}
.expenses-change {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.expenses-figure {
  font-size: 3rem;
  margin-right: 2rem;
  margin-top: 8.6rem;
}

@media (max-width: 88em) {
  .container {
    width: 36rem;
  }
}

@media (max-width: 75em) {
  .container {
    width: 26rem;
  }
}

@media (max-width: 69em) {
  .container {
    width: 99%;
    margin-left: 0.3rem;
  }
}
