.container {
  height: 50rem;
  width: 70rem;
  box-shadow: 0 0.5rem 1rem rgb(206, 234, 255);
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: #fff;
}

.chart {
  max-width: 32rem;
  overflow: auto;
}

@media (max-width: 88em) {
  .container {
    width: 90rem;
  }
}

@media (max-width: 69em) {
  .container {
    width: 100%;
    margin-left: 0.3rem;
  }
} ;
